<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>  </h1>

     <form method="POST" action="/puppy">
        <p> Name: <input type="text" name="name"></p>
        <p> Breed: <input type="text" name="breed"></p>
        <p> Age: <input type="text" name="age"></p>
  		  <p><input type="submit" name="submit" value="submit"></p>
    </form>
	
  
  </body>
</html>