<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1> Click Here To List A Puppy </h1>

      <a href= "/new"> Click Here To List A Puppy </a> 

      <!-- <p><input type="submit" name="submit" value="submit"></p> -->
  
  </body>
</html>